registry=http://nexus.1eres.net:8081/repository/npm-leadtech-group/
//nexus.1eres.net:8081/repository/npm-leadtech-private/:_auth=${NEXUS_AUTH_TOKEN}
@npm_leadtech:registry=http://nexus.1eres.net:8081/repository/npm-leadtech-private/
