.root {
  color: #4e5255;

  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: var(--spacing-xxs-exception);
  padding: var(--spacing-xxs-exception) var(--spacing-xs);
  width: fit-content;

  &:hover {
    color: #26a0f4;
  }

  &:focus {
    border-radius: var(--corner-radius-xs);
    outline: 1px solid var(--color-border-interactivity-default);
  }
}

.active {
  background: var(--color-fill-common-weaker);
  border-radius: var(--corner-radius-xs);
  color: #26a0f4;
}

.iconContainer {
  display: flex;

  & svg * {
    fill: #4e5255;
  }

  & svg {
    flex-shrink: 0;
  }
}

.root:hover .iconContainer svg * {
  fill: #26a0f4;
}

.active .iconContainer svg * {
  fill: #26a0f4;
}

.label {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-s);
  font-style: normal;
  font-weight: var(--font-weight-strong);
  line-height: var(--line-height-body-s);
  text-align: left;
  width: max-content;
}
