.container {
  background-color: rgb(from var(--color-fill-common-weaker) r g b / 0.5);
  border-bottom: 1px solid var(--color-border-weaker);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-radius: var(--corner-radius-s) var(--corner-radius-s) 0 0;
  overflow: hidden;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m) var(--spacing-l);
  position: relative;
  border-top: 6px solid var(--color-border-brand);
}

.iconAndTitle {
  align-items: center;
  display: flex;
  gap: var(--spacing-s-exception);
  position: relative;
}

.iconContainer {
  align-items: center;
  font-family: var(--font-family-body);
  border-radius: var(--corner-radius-l);
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}

.title {
  color: var(--color-text-default);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-titles-m);
  font-weight: var(--font-weight-strong);
  line-height: var(--line-height-titles-m);
  margin: 0;
  text-transform: capitalize;
}

.rightArea {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 128px;
}

@media (max-width: 768px) {
  .container {
    border-radius: 0;
  }

  .content {
    border-top: none;
  }

  .rightArea {
    align-items: end;
  }
}
