.root {
  border-radius: var(--corner-radius-s);
  border: 1px solid var(--color-border-weaker);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card {
  border-bottom: 1px solid var(--color-border-weaker);
}

.cardLast {
  border-bottom: none;
}

/* Mobile styles */
.mobile {
  border: none;
  border-radius: 0;
  gap: var(--spacing-m);
}

.mobile .card {
  border-bottom: 1px solid var(--color-border-weaker);
}

.mobile .cardLast {
  border-bottom: none;
}
