.root {
  cursor: pointer;
  font-family: var(--font-family-body);
  font-style: normal;
  line-height: var(--line-height-small-details-xs-captions);
  position: relative;
  text-align: left;

  &:hover {
    & .suffix,
    & .arrow,
    & .prefix,
    & .assistiveText,
    & .placeholder {
      color: #3b3d40;
    }

    & .suffix > svg path,
    & .arrow svg path,
    & .prefix > svg path {
      fill: #3b3d40;
    }
  }

  &:focus-within {
    & .input {
      background: var(--color-fill-common-default);
      border: 1px solid #1f96ff;
    }

    & .suffix,
    & .arrow,
    & .prefix,
    & .assistiveText {
      color: #3b3d40;
    }

    & .suffix > svg path,
    & .arrow svg path,
    & .prefix > svg path {
      fill: #3b3d40;
    }
  }
}

.error {
  & .assistiveText {
    color: #99300a;
  }

  & .input {
    border: 1px solid #f2612c;
  }

  &:focus-within {
    & .input {
      border: 1px solid #f2612c;
    }
  }
}

.disabled {
  & .input {
    color: var(--color-text-disabled);
  }

  & .placeholder,
  & .suffix,
  & .arrow,
  & .prefix,
  & .assistiveText {
    color: var(--color-text-disabled);
  }

  & .suffix > svg path,
  & .arrow svg path,
  & .prefix > svg path {
    fill: var(--color-icons-weak);
  }

  pointer-events: none;
}

.input {
  background: var(--color-fill-common-weaker);
  border-radius: var(--corner-radius-xs);
  border: 1px solid var(--color-fill-common-weaker);
  color: #3b3d40;
  display: flex;
  height: 56px;
  box-sizing: border-box;
  padding: var(--spacing-xs) var(--spacing-m);
  position: relative;
  transition: all 0.1s ease-in-out;

  &:focus-visible {
    outline: 2px solid #1f96ff;
  }
}

.suffix {
  color: var(--color-text-secondary);
  display: flex;
  gap: var(--spacing-xs);
  margin: auto;

  & > svg path {
    fill: #62666a;
    transition: all 0.1s ease-in-out;
  }
}

.arrow {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;

  & svg path {
    fill: #62666a;
    transition: all 0.1s ease-in-out;
  }
}

.arrowOpen {
  transform: rotate(180deg);
}

.prefix {
  color: var(--color-text-secondary);
  margin: auto;
  margin-right: var(--spacing-xs);

  &:empty {
    margin: 0;
  }

  & > svg path {
    fill: #62666a;
    transition: all 0.1s ease-in-out;
  }
}

.value {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.placeholder {
  color: var(--color-text-secondary);
}

.assistiveText {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small-details-xs-captions);
  margin-top: var(--spacing-s-exception);
}
